body {
    background-color: purple;
}
nav {
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}
.nav-link {
    opacity:0.7;
}
.nav-link: hover {
    opacity: 1;
    background-color: #eee !important;
}
header {
    height: 600px;
    width: 100%;
    background-image: url("1461545261.jpg");
    background-size: cover;
}
header p {
    color:white;
}
header h1 {
    color: white;
}
.services i {
    font-size:30px;
    padding:25px 20px;
}